<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>
    <main>
         <h1>Orders</h1>
         <% if(orders.length < 1) { %>
            <h4>No Orders</h4>
        <% } else { %>
            <ul>
                <% orders.forEach(order => { %>
                    <li>
                        <h6># <%= order.id %></h6>
                        <ul>
                            <% order.products.forEach(item => { %>
                                <li>
                                    <%= item.name %> (<%= item.orderItem.quantity %>)
                                </li>
                            <% }); %>
                        </ul>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </main>
<%- include('../partials/end.ejs') %>
